* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  flex-direction: row;
}

.menuImg {
  width: 17px;
  height: 14px;
  margin-right: 10px;
  cursor: pointer;
}

.logoImg {
  width: 80px;
  height: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.link {
  display: flex;
  flex-direction: row;
}

.link a {
  color: #000;
  font-weight: 600;
  margin-right: 10px;
  font-size: 14px;
}

.link .new {
  color: rgb(51, 102, 255);
  font-size: 10px;
  font-weight: 600;
  position: absolute;
}

.etc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.etc a {
  padding: 10px;
}

.bell {
  color: #000;
}

.profileBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileC {
  content: '';
  margin: 0 auto;
  width: 32px;
  height: 32px;
  padding: 15px;
  border: 1px solid #e1e2e3;
  border-radius: 50%;
  align-items: center;
}

.profile {
  width: 28px;
  height: 28px;
  clip-path: circle(40%);
  position: relative;
}

.bellN,
.profileN {
  border-radius: 5px;
  background-color: rgb(51, 102, 255);
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  top: -33px;
  left: 19px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.serviceBtn {
  border: 1px solid rgba(77, 75, 75, 0.5);
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceBtn::before {
  display: block;
  content: '';
  height: 10px;
  width: 1px;
  background-color: rgba(77, 75, 75, 0.5);
  position: relative;
  left: -30px;
}

.serviceBtn a {
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: #666;
}
